//@import '~purecss/build/pure.css';

* {
  /* remove margins and paddings to prevent scrollbars due to full viewport sizing and use `border-box` to calculate the
     total width and height of elements. */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  /* full viewport sizing */
  min-width: 100vw;
  min-height: 100vh;
}

#grid {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(24, 1fr);


  border: 10px solid gold;
  height: 100vh;


  > div {
    //flex: 1 auto;
    border: 1px solid #eee;
    //height: 5%;
    //width: 5%;
  }
}

//.container {
//  //width: 960px;
//  //margin: 0 auto;
//  padding: 25px 0 ;
//  border-radius: 20px;
//}
//
//.cell {
//  height: 2rem;
//
//  /* whitespace forces the cell to show even if there is no content. */
//  &:before {
//    content: "\200b";
//  }
//}